
@{
 
}
<html>
<head>
    <title>
        Mon site web
    </title>
    
</head>
<body>
    <h1>Titre de niveau 1</h1>
    <p>Ceci est un paragraphe</p>
    <link href="~/StyleSheet/StyleSheet1.css" rel="stylesheet" />
</body>
</html>

